/* color scheme sourced from http://khroma.co/generator/ */
/* stock images sourced from https://www.stockvault.net/ */
:root {
    --almond: #f2d6d0;
    --matisse: #1a4d96;
    --pharlap: #a68987;
    --eden: #105c64;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Palatino', Georgia, 'Times New Roman', Times, serif;
}

header {
    padding-top: 0;
    margin: 0 auto;
    width: 100%;
}

h1, h2 {
    background-color: var(--eden);
    color: var(--almond);
    line-height: 2.5;
}

#name-header {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 2;
    font-weight: lighter;
}

nav {
    display: block;
    line-height: 1.75;
    background-color: var(--pharlap);
}

nav, h2 {
    border: 1px solid var(--matisse)
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.info-links {
    color: var(--eden);
    font-weight: bold;
}

.contact-links {
    padding: 2.5%;
    border: 2px solid var(--almond);
    color: var(--eden);
    font-weight: bolder;
}

#aurora {
    height: 300px;
    width: 100%;
    background-image: url("https://www.stockvault.net/data/2013/12/02/151491/preview16.jpg");
    background-size: cover;
    background-position: center;
}

#about-me {
    line-height: 0;
}

#p-about-me {
    position: absolute;
    margin-left: 200px;
    margin-top: 3%;
    font-size: 15px;
    color: var(--matisse);
}

#headshot {
    max-height: 200px;
    border: 3px solid var(--matisse);
}

main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

section {
    display: flex;
    flex-wrap: wrap;
}

article {
    border: 5px solid var(--pharlap);
    height: 300px;
    width: 300px;
}

.work {
    flex: 1 0 0;
    text-align: center;
  }

#horiseon-marketing-agency {
    height: 50%;
    width: 50%;
    text-align: center;
}

#horiseon-marketing-agency > a > img, article > img {
    max-height: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* changes color of a link that has been clicked on */
a:visited {
    color: var(--matisse);
}

/* makes links slightly opaque when cursor is over them */
a:hover {
    opacity: 0.75;
}

h2 {
    font-size: 30px;
    padding-left: 2.5%;
    padding-right: 1.5%;
    line-height: 1.5;
}

h3 {
    font-size: 25px;
}

h4 {
    font-weight: lighter;
}

h3, h4 {
    color: var(--eden);
}

footer {
    text-align: center;
    padding: 15px;
}

@media screen and (max-width: 768px) {
  main,
  nav,
  .work,
  div,
  section,
  #horiseon-marketing-agency {
    flex-direction: column;
  }
}